/* Import Base Styles */
/*-------------------------------------------
   	Global Starter
-------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, main, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, audio, canvas, progress, video {
  display: block; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

a:active,
a:hover {
  outline: 0; }

/* Nice Subs & Sups */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto; }
  a img {
    border: none; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  vertical-align: top; }

::-moz-selection {
  background: #d7d7d7;
  color: #000;
  text-shadow: none; }

::selection {
  background: #d7d7d7;
  color: #000;
  text-shadow: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Color Variables */
/* Font Sizes */
/* Base Fonts */
/* Site Specific General Styles */
body {
  color: red;
  font-family: Georgia, serif;
  line-height: 32px; }

p, ul, dl, ol {
  line-height: 32px;
  margin-bottom: 16px; }

li {
  margin-bottom: 16px; }

h2 {
  font-size: 32px;
  color: #252525;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  margin-bottom: .75em;
  line-height: 1.1em; }

h3 {
  font-size: 28px;
  color: #252525;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  margin: 1em 0 .75em;
  line-height: 1.1em; }

h4 {
  font-size: 24px;
  color: #252525;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  margin: 1em 0 .75em;
  line-height: 1.1em; }

h5 {
  font-size: 20px;
  color: #252525;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  margin: 1em 0 .75em;
  line-height: 1.1em; }

img[align="right"],
img.right {
  float: right;
  margin: 10px 0 20px 30px; }
  @media screen and (max-width: 549px) {
    img[align="right"],
    img.right {
      float: none;
      margin: 20px auto; } }

img[align="left"],
img.left {
  float: left;
  margin: 10px 30px 20px 0; }
  @media screen and (max-width: 549px) {
    img[align="left"],
    img.left {
      float: none;
      margin: 20px auto; } }

a {
  color: #00abc5; }
  a:hover, a:focus {
    color: red; }

/* Custom CSS */
.page-header {
  border: 1px solid #003366; }

/*  Page Containers */
.wrap {
  margin: 0 auto;
  padding: 25px;
  max-width: 1240px;
  box-sizing: border-box; }

/* Content & Nav Layout */
/* Closing Styles */
/* Additional Styles & Helpers Last */
/* clears */
.clear {
  clear: both; }

/* Contain floats: h5bp.com/q */
.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  *zoom: 1; }

/* For IE 6/7 (trigger hasLayout) can remove this soon */
/* Hide for both screenreaders and browsers */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: */
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .vh.focusable:active, .vh.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

#logo-print {
  display: none; }

/* for image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -123456em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

/*# sourceMappingURL=screen.css.map */