// PAGE LAYOUTS


/*  Page Containers */

.wrap {
	margin: 0 auto;
	padding: 25px;
	max-width: 1240px;
	box-sizing: border-box;
}

/* Content & Nav Layout */

// BODY LAYOUTS
body { 
  	
	@media screen and (min-width: $large) {
   
  }
  	
}

